body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card {
            border: solid 1px black;
        }

    }
}

// for desktop
// .centre {
//     display: flex;
//     flex-direction: column;
// }